<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
  <!--  <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
  <!--    <level>INFO</level>-->
  <!--  </filter>-->
  <!--  <encoder>-->
  <!--    &lt;!&ndash;      <pattern>%date{ISO8601} [%thread] [%level] [%logger] [%marker] - %msg MDC: {%mdc}%n</pattern>&ndash;&gt;-->
  <!--    <pattern>%d{HH:mm:ss} [%thread] [%-5level] [%logger] [%marker] - %msg MDC: {%mdc}%n</pattern>-->
  <!--  </encoder>-->
  <!--</appender>-->
  <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
  <!--  <file>target/myapp-dev.log</file>-->
  <!--  <encoder>-->
  <!--    <pattern>[%date{ISO8601}] [%level] [%logger] [%marker] [%thread] - %msg MDC: {%mdc}%n</pattern>-->
  <!--  </encoder>-->
  <!--</appender>-->

  <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <!-- Ignore default logging fields -->
      <fieldNames>
        <timestamp>[ignore]</timestamp>
        <version>[ignore]</version>
        <logger>[ignore]</logger>
        <thread>[ignore]</thread>
        <level>[ignore]</level>
        <levelValue>[ignore]</levelValue>
      </fieldNames>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="jsonConsoleAppender"/>
  </root>
</configuration>
